.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 20px;

  p {
    text-decoration: none;
    color: rgb(114,114,114);
    font-size: 12px;
  }
}

.favicon {
  width: 20px;
}