
.home{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vw 20vw;
  gap: 25px;

}

a{
  text-decoration: none;
  color: black;
  padding: 15px;
  border: solid 1px black;
  border-radius: 10px;
  cursor: pointer;
    &:hover{
    background-color: black;
    color: white;
  }
}
