.evaluation-index {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  gap: 25px;
 }

 .content {
  width: 40vw;
  display: flex;
  flex-direction: column;
 }

.evaluation-welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.evaluation-environment {
  display: flex;
  flex-direction: column;
}

.environment {
  display: flex;

  align-self: flex-start;
}

label {
  flex: 50 1 auto;
  justify-items: center;


}

.items {

  display: flex;
  justify-content: center;
}

.bigger {
  font-size:larger;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
}

.slider {
  width: 150px;
  flex: 1 1 auto;
  align-self: flex-end;
}

.next {
  display: flex;
  justify-content: center;
  font-size: large;
}



