<div class="navbar">
  <img src="../assets/logos/logoCouleur400px.png" alt="logo"/>
  <div class="options">
    <a routerLink="home" routerLinkActive="active">Accueil</a>
    <a routerLink="registration" class="active">S'inscrire</a> <!-- registrationButton -->
    <a routerLink="dashboard" routerLinkActive="active">Dashboard responsable</a>
    <a routerLink="evaluation" routerLinkActive="active">Evaluation</a>
    <a routerLink="connexion" routerLinkActive="active">Se connecter</a>
  </div>
</div>
