.navbar {
  height: 100%;
  // width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 20px;
  background: rgb(166,166,166);
  background: linear-gradient(90deg, rgba(166,166,166,1) 0%, rgba(193,193,193,1) 97%);

  .options {
    display: flex;
    flex-direction: row;
    gap: 20px;

    a {
      text-decoration: none;
      color: rgb(249, 178, 51);
      min-width: 100px;
      text-align: center;

      &:hover {
        color: rgb(54, 169, 225);
        font-weight: bold;
      }
    }
  }

  img {
    height: 50px;
  }

}
